html5lib==0.999999999
murmurhash==0.26.4
nltk==3.2.4
numpy==1.13.1
pandas==0.20.3
pathlib==1.0.1
pathlib2==2.3.0
pickleshare==0.7.4
psycopg2==2.7.1
python-dateutil==2.6.1
regex==2017.7.28
requests==2.18.4
scikit-learn==0.19.0
scipy==0.19.1
spacy==1.9.0
stanford-corenlp-pywrapper==0.1.0
ujson==5.4.0
Unidecode==0.4.21
urllib3==1.22
